@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to right, #ef97ff, #30e0ff);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  transition: transform 0.1s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  transform: scale(1.025);
}

.btn:active {
  transform: scale(0.975);
}

:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
